*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}
#nav-bar{ /*5 qadam*/
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    padding: 0 !important;
}