*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

/* ---------------------Navbar section--------------------------- */

#nav-bar{ /*5 qadam*/
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    padding: 0 !important;
}
.navbar-brand img{ /* Logo style */
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li{ /* linklarga style */<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    padding: 0 10px;
}
.navbar-nav a{ /* linklarga style */
     color: #fff !important;   
     font-weight: 600;
     text-align: center;
}
.fa-bars { /*5.1 qadam*/
    color: #fff;
    font-size: 25px !important;
}
.navbar-toggler {
    outline: none !important;
}
/* ---------------------Banner section--------------------------- */

#banner{ /*6 qadam*/
    background-image: linear-gradient(to right,#a517ba, #5f1782);
    color: #fff;
    padding-top: 5%; 
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}  
.play-btn{ /*Play btn style beramiz*/
    width: 45px;
    margin: 20px;
}
#banner a{
    color: #fff;
    text-decoration: none;
}
.bottom-img{ /*rasmga style beramiz*/
    width: 100%;
}

/* ---------------------Services section--------------------------- */

#services{ /*7 qadam*/
    padding: 80px 0;
}
.service-img{
    width: 100px;
    margin-top: 20px;
}
.services{
    padding: 20px;
}
.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
#services .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right,#a517ba, #5f1782);
}
/* ---------------------About us section--------------------------- */

#about-us{/*8 qadam*/
    background:#f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title{
    font-size: 30px;
    font-weight: 600;
    margin-top: 8%;
    margin-left: 11%;
}
#about-us ul li{
    margin: 10px 0;
}
#about-us ul{
    margin-left: 20px ;
}

/* ---------------------Testimonials section--------------------------- */

#testimonials{/*9 qadam*/
    margin: 50px 0;
}
.testimonials{
    border-left: 4px solid #7b1798;
    margin-bottom: 50px;
}
.testimonials img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px; 
}
.user-details{
    display: inline-block;
    font-size: 12px;
}
/* ---------------------Social media section--------------------------- */

#social-media{ /*10 qadam*/
    background: #f8f9fa;
    padding: 100px 0;
}
#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img{
    width: 60px;
    transition: 0.5s;
}
.social-icons a:hover img{
    transform: translateY(-10px);
}
/* ---------------------Footer section--------------------------- */
#footer{/*11 qadam*/
    background-image: linear-gradient(to right,#a517ba, #5f1782);
    color: #fff;
}
.footer-img{
    width: 100%;
}
.footer-box{
    padding: 20px;
}
.footer-info{
    padding:20px;
}
.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}
.footer-info  i{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right,#a517ba, #5f1782);
}
.footer-box .form-control{
    box-shadow: none  !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary{
    box-shadow:none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right,#a517ba, #5f1782);
}
hr{
    background-color: #fff;
}
.copyright{
    margin-bottom: 0;
    padding-bottom: 20px;
}
.copyright a{
    text-decoration: none;
    color: #fff;
}
.copyright a:hover{
    color: #d8dce0;
}